<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jq.mapper.VoucherMapper">

    <!-- 查询店铺的优惠券列表 -->
    <select id="queryVoucherOfShop" resultType="com.jq.entity.Voucher">
        SELECT *
        FROM tb_voucher
        WHERE shop_id = #{shopId}
          AND status = 1
        ORDER BY create_time DESC
    </select>

</mapper>